include layouts/layout
extends layouts/layout
block content
  h1
    +echo("SliceHelper::message('Hello world')")
  p
    +echo("SliceHelper::message('This simple framework was created by {author} to illustrate a stack of OO PHP, GulpJS, Jade and Stylus on the go. Of course, in a real life complex web application, things would not be so simple. Thus, architectural considerations must be made. Yet, for a brochure, one page site, this just might suffice. Might!', ['author'=>$this->getConfig('author')])")
  p
    +echo("SliceHelper::message('The PHP framework includes simple routing, site configuration and multilanguage support with dynamic variables.')")
  p
    +echo("SliceHelper::message('The framework utilizes the popular MVC design pattern. Source HTML was written with Jade templating engine. Utilizing the simple Unix <em>move</em> command, the generated html was saved as a PHP file. The page is in some style with CSS, which was generated using the lovely Stylus tool.')")
  ul
    +foreach("$list", "item")
      li: a(href!="/item?id=<?php echo $item['id']; ?>")
        +echo("$item['name']")